.luis_card {
  width: 230px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: auto;
  gap: 15px;
  padding: 10px;
  align-items: center;
  
  border: 1px solid white;
  border-radius: 10px;
}

.luis_card_img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.luis_bio_link {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
