.explore {
  display: grid;
  grid-template-columns: 150px;
  grid-auto-flow: column;
  gap: 20px;
  height: 250px;
  width: 90%;
  overflow-x: auto;
  white-space: nowrap;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.explore_card {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: rgb(19, 18, 18);
  border-radius: 15px;
  height: 200px;
  width: 160px;
  overflow: hidden;
  padding: 20px;
  gap: 20px;
}

.card_image {
  width: calc(150px - 30px);
  height: 100%;
}

.card_content {
  display: flex;
  flex-direction: column;
}

h3 {
  color: white;
}

h3 span {
  color: rgb(160, 160, 160);
}