* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  user-select: none;
}
html{
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

:root {
  --text-primary: #fff;
  --text-secondary: #ffffffe7;
}

h4 {
  color: white;
}



button {
  height: 40px;
  padding: 0 20px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;

  font-size: 16px;
  font-weight: 700;
}

.global {
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: #1d1d1b;
}

.logo {
  width: 35px;
}

.page_container {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  margin-bottom: 60px;

  /* decoration */
  position: relative;
  z-index: 1;
}

.page_container::before,
.page_container::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(50px); /* Ajusta el valor según sea necesario */
  opacity: 0.5; /* Ajusta la opacidad según sea necesario */
  z-index: -1; /* Coloca las manchas detrás del page_ */
}

.page_container::after {
  opacity: 1;
}

.page_container::before {
  width: 300px;
  height: 300px;
  background-color: #C4C7FF; /* Primer color de mancha */
  top: 0px;
  left: -150px;
}

.page_container::after {
  width: 100px;
  height: 100px;
  background-color: #FF9A00; /* Segundo color de mancha */
  bottom: 20px;
  right: -50px;
}

footer {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.action_button {
  width: 100%;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;

  font-weight: bold;
}
