@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white leading-relaxed;
  }

  h1 {
    @apply text-3xl font-bold text-white;
  }

  h2 {
    @apply text-2xl font-semibold text-white;
  }

  h3 {
    @apply text-xl font-semibold text-white;
  }

  p {
    @apply text-base text-white;
  }
}

@theme {
  --color-main: #C4C7FF;
  --color-secondary: #FF9A00;
  --color-background: #1d1d1b;
}


* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


#root {
  --main-color: #C4C7FF;
  --secondary-color: #FF9A00;
  --background-color: #1d1d1b;
  --text-color: #ffffff;

  width: 100vw;
  max-width: 750px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: var(--background-color);
}


html{
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;

  background-color: #1d1d1b;
  display: flex;
  justify-content: center;
}


h4 {
  color: white;
}

img {
  width: 100%;
}

button {
  height: 40px;
  padding: 0 20px;
  border-radius: 10px;
  /* border: 2px solid white; */

  font-size: 16px;
  font-weight: 600;
}


.logo {
  width: 35px;
}
.page_container {
  min-height: calc(100vh - 103px);
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  /* decoration */
  position: relative;
  z-index: 1;
}

.page_container::before,
.page_container::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(50px); /* Ajusta el valor según sea necesario */
  opacity: 0.5; /* Ajusta la opacidad según sea necesario */
  z-index: -1; /* Coloca las manchas detrás del page_ */
}

.page_container::after {
  opacity: 1;
}

.page_container::before {
  width: 300px;
  height: 300px;
  background-color: var(--main-color); /* Primer color de mancha */
  top: 0px;
  left: -150px;
}

.page_container::after {
  width: 100px;
  height: 100px;
  background-color: var(--secondary-color); /* Segundo color de mancha */
  bottom: 60px;
  right: -50px;
}

.action_button {
  width: 100%;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;

  font-weight: bold;
}

/* page transitions */

@view-transition {
  navigation: auto;
}

:root {
  --view-transition-duration: 0.9s;
}

.moon_card, .moon_full_page {
  transition: transform var(--view-transition-duration) ease, opacity var(--view-transition-duration) ease;
}

.moon_card[view-transition-name] {
  /* Opcional: define cómo debe verse al iniciar/terminar */
  opacity: 0.5;
  transform: scale(0.95);
}

.moon_full_page[view-transition-name] {
  opacity: 1;
  transform: scale(1);
}
