.loader {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(21, 20, 20);
  display: grid;
  place-content: center;
  z-index: 2;
}

.spin {
  position: fixed;
  height: 150px;
  width: 150px;
  top: calc(50% - 85px);
  left: calc(50% - 75px);
  border-radius: 50%;
  border: 10px dotted white;
  animation: spinning 5s linear infinite;
}

.eye {
  width: 100px;
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}