.quiz_question {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz_welcome {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quiz_welcome img {
  aspect-ratio: 1/1;
  width: 100%;
}