.moon_calendar {
  display: grid;
  gap: 20px;
  grid-template-columns: 
    repeat(auto-fit, minmax(120px, 1fr));
  background-color: transparent;
}

.moon_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moon_card img {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(16, 16, 16, 0.655);
}
