.moon_calendar {
  display: grid;
  gap: 20px;
  grid-template-columns: 
    repeat(auto-fit, minmax(120px, 1fr));
  background-color: transparent;
}

.moon_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moon_card img {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(16, 16, 16, 0.655);
}

/* from moon calendar full page */
.moon_full_page {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.429);
  display: grid;
  place-content: center;
}

.moon_dialog {
  width: 300px;
}

.moon_dialog_text {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}