
/* From header module */
header {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1b;

  transform: translateZ(0);
}

header h2 {
  font-weight: bold;
  color: white;
}

.header_text p {
  color: #ffffffd5;
}

i {
  height: fit-content;
  font-size: 1.4rem;
}

