main {
  display: flex;
  flex: 1;
  background-color: var(--background-color);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  flex: 1;
  a {
    width: 100%;
  }
}

.blog_card {
  display: grid;
  height: 140px;
  grid-template-columns: 150px 1fr;
  gap: 15px;
  padding: 20px;
  overflow: hidden;
  .img_container{
    width: 100%;
    .card_img{
      width: 100%;
    }
  }
  .card_text{
    .card_text_headline{
      color: white;
    }
    .ct_caption{
      color: white;
    }
  }
}

article {
  padding: 0 20px;
}

article header {
  position: unset;
}

.article_main_content {
  flex: 1;
  margin: 0;  
}

.blog_article {
  margin-top: 75px;
  background-color: #1d1d1b;
  color: white;
}

.blog_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.blog_header_img {
  width: 100%;
}

.title {
  font-size: 1.4rem;
  text-align: center;
}

.caption {
  color: rgba(255, 255, 255, 0.85);
  font-style: italic;
  border-left: 1px solid white;
  padding-left: 10px;
}

.blog_content {
  padding: 20px;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog_article main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image_container {
  width: 100%;
  padding: 20px;
}

.image_container img {
  width: 100%;
}

.image_caption {
  border-left: 1px solid white;
  padding-left: 10px;
}

blockquote {
  padding: 20px;
  font-weight: 500;
  font-style: italic;

  display: flex;
  flex-direction: column;
  gap: 10px;
  .quote_footer {
    margin: 0;
  }
}